/* General grid CSS - Start -*/
body{background: #101010;font-family: 'Open Sans', sans-serif; font-size: 13px;color:#FFFFFF;line-height: 22px;}
a{color:#3fec17;}
a:hover{color:#849183;}
.row .span3{background: url('../img/container.png') no-repeat; height:273px;width:270px;margin-bottom: 27px;}
/*background image Start -*/
img#bgmimick {position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:-1;opacity: 0;overflow: visible;}
/*background image End -*/
/* Logo Style Start */
.logo a{font-size: 36px; color:#FFFFFF;margin-bottom:30px;display: block;height:45px;line-height: 79px;}
.logo a .image{background:url('../img/cv.png');; background-repeat: no-repeat;width:32px;height:32px;float:left;margin:21px 21px 0 21px;}
.logo span{margin:0px;padding: 0px;color:#FFFFFF;}
.logo.span3{background:none;height:73px;background:url('../img/dark-bg.png');border-bottom:2px solid #8cb127;margin-bottom: 0px;}
/* Logo Style End */
/* Footer Style Start */
.footer{padding: 9px 0 9px 0;color:#FFF;font-size: 12px;width:570px;margin-bottom: 30px;}
.footer .span3{background: none;height:auto;margin-bottom: 0px;}
.footer .span3.text-left{width:254px;padding-left: 16px;}
.footer .span3.text-right{width:254px;padding-right: 16px;}
.footer span{color:#d1d1d1;}
/* Logo Style End */

/* ************************* The menu style - Start ************************* */
.menu.span3,.retina .menu.span3{width: 276px; height: 90px;background:none;margin-bottom: 15px;}

.menu ul{float:left;height:100px;overflow: visible;list-style: none;margin:0 0 0 0px;}
.menu ul a{color:#FFFFFF;height: 100%;overflow: hidden;display: block;line-height: 32px;padding:0px;border-right: 2px solid #FFFFFF; 
	width: 100%;}
.menu ul li{background:url('../img/dark-bg.png');height: 38px;overflow: hidden;margin-bottom: 3px;padding-right: 0px;width:40px;height:73px;float:left;
margin-right:6px;border-bottom: 2px solid #FFFFFF;cursor: pointer;}
.menu ul li:hover,.menu ul li.selected{background:#FFFFFF;width:40px;height:73px;border-bottom: 2px solid #3c3c3c;}
.menu ul a:hover,.menu ul li.selected a{color:#8cb127;text-decoration: none;border-right:2px solid #8cb127;border-right: 2px solid #8cb127; 
	animation:menuanimation 1s;-webkit-animation:menuanimation 1s;}

.menu ul li.lang{background:#424845;width:40px;height:73px;border-bottom: 2px solid #3c3c3c;}
.menu ul li.lang a{color:#424845;text-decoration: none;border-right:2px solid #8cb127;border-right: 2px solid #8cb127; 
	animation:menuanimation 1s;-webkit-animation:menuanimation 1s;}

/* Menu elements */

/* English */
.menu ul a.english{background: url('../img/english.png') no-repeat;background-position:50% 78%;}
.menu ul a.english:hover,.menu ul li.selected a.english,.menu ul li:hover a.english{background: url('../img/english.png') no-repeat;background-position:50% 78%;}
.retina .menu ul a.english{background: url('../img/englishR.png') no-repeat;background-position:50% 78%;background-size: 23px 20px;}
.retina .menu ul a.english:hover,.retina .menu ul li:hover a.english,.retina .menu ul li.selected a.english{background: url('../img/englishR.png') no-repeat;
background-position:50% 78%;background-size: 23px 20px;}

/* Portuguese */
.menu ul a.portuguese{background: url('../img/portuguese.png') no-repeat;background-position:50% 83%;}
.menu ul a.portuguese:hover,.menu ul li.selected a.portuguese,.menu ul li:hover a.portuguese{background: url('../img/portuguese.png') no-repeat;
background-position:50% 83%;}
.retina .menu ul a.portuguese{background: url('../img/portugueseR.png') no-repeat;background-position:50% 78%;background-size: 23px 20px;}
.retina .menu ul a.portuguese:hover,.retina .menu ul li:hover a.portuguese,.retina .menu ul li.selected a.portuguese{
	background: url('../img/portugueseR.png') no-repeat;background-position:50% 78%;background-size: 23px 20px;}

/* Home */
.menu ul a.home{background: url('../img/home.png') no-repeat;background-position:50% 80%;}
.menu ul a.home:hover,.menu ul li.selected a.home,.menu ul li:hover a.home{background: url('../img/home2.png') no-repeat;background-position:50% 80%;}
.retina .menu ul a.home{background: url('../img/homeR.png') no-repeat;background-position:50% 80%;background-size: 23px 20px;}
.retina .menu ul a.home:hover,.retina .menu ul li:hover a.home,.retina .menu ul li.selected a.home{background: url('../img/home2R.png') no-repeat;background-position:50% 80%;background-size: 23px 20px;}

/* Resume */
.menu ul a.resume{background: url('../img/resume.png') no-repeat;background-position:50% 80%;}
.menu ul a.resume:hover,.menu ul li:hover a.resume,.menu ul li.selected a.resume{background: url('../img/resume2.png') no-repeat;background-position:50% 80%;}
.retina .menu ul a.resume{background: url('../img/resumeR.png') no-repeat;background-position:50% 80%;background-size: 21px 20px;}
.retina .menu ul a.resume:hover,.retina .menu ul li:hover a.resume,.retina .menu ul li.selected a.resume{background: url('../img/resume2R.png') no-repeat;background-position:50% 80%;background-size: 21px 20px;}

/* Portfolio */
.menu ul a.portfolio{background: url('../img/portfolio.png') no-repeat;background-position:50% 80%;}
.menu ul a.portfolio:hover,.menu ul li:hover a.portfolio,.menu ul li.selected a.portfolio{background: url('../img/portfolio2.png') no-repeat;background-position:50% 80%;}
.retina .menu ul a.portfolio{background: url('../img/portfolioR.png') no-repeat;background-position:50% 80%;background-size: 23px 20px;}
.retina .menu ul a.portfolio:hover,.retina .menu ul li:hover a.portfolio,.retina .menu ul li.selected a.portfolio{background: url('../img/portfolio2R.png') no-repeat;background-position:50% 80%;background-size: 23px 20px;}

/* Contact */
.menu ul a.contact{background: url('../img/contact.png') no-repeat;background-position:50% 80%;}
.menu ul a.contact:hover,.menu ul li:hover a.contact,.menu ul li.selected a.contact{background: url('../img/contact2.png') no-repeat;background-position:50% 80%;}
.retina .menu ul a.contact{background: url('../img/contactR.png') no-repeat;background-position:50% 80%;background-size: 28px 20px;}
.retina .menu ul a.contact:hover,.retina .menu ul li:hover a.contact,.retina .menu ul li.selected a.contact{background: url('../img/contact2R.png') no-repeat;background-position:50% 80%;background-size: 28px 20px;}/*The menu - End -*/

/* ************************* Menu style End ************************* */

/* ************************* Home ************************* */
/* Content block 1 - Top left */
.span3 .avatar{margin: 32px 0 0 58px;float: left;animation:avatarslide 1s;-webkit-animation:avatarslide 1s; /* Safari and Chrome */}
.span3 .avatar{border:4px solid #8E9183;-moz-border-radius: 150px;-webkit-border-radius:150px;border-radius: 150px;width:150px;height:150px;z-index:99;opacity: 1;}
.span3 .avatar img{moz-border-radius: 150px;-webkit-border-radius:150px;border-radius: 150px;width:150px;height:150px;margin: 0px;z-index:99;opacity: 1;}
.span3 h3.name{color:#8E9183;width: 119px;margin:15px 0 0 16px;font-size: 24px;line-height: 22px;float:left;}
.span3 .profession{color:#8E9183;width: 118px;margin:41px 0 0 0px;font-size: 13px;line-height: 22px;font-family: 'Open Sans', sans-serif;float: left;text-align: right;}

/* Content block 2 - Top right */
.home .span3 .services.split{background: url('../img/home_tr_services.png');width:270px;height: 109px;float: left;}
.retina .home .span3 .services.split{background: url('../img/home_tr_servicesR.png'); background-size: 270px 109px;}
.home .span3 .split .circle{background: url('../img/home_services_circle.png'); width: 66px;height: 66px;float: left;margin: 25px 0 0 0px;color:#FFFFFF;}
.retina .home .span3 .split .circle{background: url('../img/home_services_circleR.png'); background-size: 66px 66px;}
.home .span3 .split .circle .price{font-size: 20px;margin: 22px 0 0 0;width: 100%;text-align: center;}
.home .span3 .split .circle .subtitle{font-size: 8px;color:#dbdbdb;width: 100%;text-align: center;line-height: 12px;}

.home .span3 .social.split{background: url('../img/home_social_bg.png');height:45px;width:268px;float:left;margin-left: 1px;text-align: center;}
.home .span3 .social.split a{margin-top: 6px;}
.span3 .social.split a:hover{opacity: 0.5;}
.retina .span3 .social.split a{background-size: 32px 32px;}
/* Social icons by names  - Start */
.span3 .social.split a.twitter{background: url('../img/twitter-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.twitter{background: url('../img/twitter-64-black.png');background-size: 32px 32px;}
.span3 .social.split a.facebook{background: url('../img/facebook-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.facebook{background: url('../img/facebook-64-black.png');background-size: 32px 32px;}
.span3 .social.split a.dribbble{background: url('../img/dribbble-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.dribbble{background: url('../img/dribbble-64-black.png');background-size: 32px 32px;}
.span3 .social.split a.rss{background: url('../img/rss-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.rss{background: url('../img/rss-64-black.png');background-size: 32px 32px;}
.span3 .social.split a.picasa{background: url('../img/picasa-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.picasa{background: url('../img/picasa-64-black.png');background-size: 32px 32px;}
.span3 .social.split a.linkedin{background: url('../img/linkedin-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.linkedin{background: url('../img/linkedin-64-black.png');background-size: 32px 32px;}

.span3 .social.split a.github{background: url('../img/github-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.github{background: url('../img/github-64-black.png');background-size: 32px 32px;}
.span3 .social.split a.empty-space{background: url('../img/empty-space.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.empty-space{background: url('../img/empty-space.png');background-size: 32px 32px;}

.span3 .social.split a.googleplus{background: url('../img/googleplus-32-black.png'); width:32px;height: 32px;display: inline-block;}
.retina .span3 .social.split a.googleplus{background: url('../img/googleplus-64-black.png');background-size: 32px 32px;}
/* Social icons by names  - End */
.home .span3 .portfolio.split img{float:left;margin: 1px 2px 0 0;opacity: 0.41;}
.home .span3 .portfolio.split img:nth-child(3){margin-right: 1px;}
.home .span3 .portfolio.split{padding-left: 1px;}
.home .span3 .portfolio.split h4 a{color:#FFFFFF;border-top:1px solid #202020;border-bottom: 1px solid #202020;background: #353535;width:252px;float: left;font-size: 13px;padding-left: 15px;}
.home .span3 .portfolio.split h4{z-index: 100;float: left;margin:0px;position: absolute;margin-top: 219px;}

/* Content block 3 - Bottom Left */
.span3 .heading{background: url('../img/home-header-bg.png');width:270px;height:87px;float: left;}
.retina .span3 .heading{background: url('../img/home-header-bgR.png');background-size: 270px 87px;}
.span3 .heading h3{font-size: 24px; color:#8E9183;margin: 22px 0 0 16px;line-height: 24px;}
.home .span3 .heading .subtitle{font-size: 12px;color:#8E9183;margin: 4px 0 0 16px;}
.span3  p.description {font-size: 13px;color:#212121;margin: 8px 0 0 16px;float: left;width: 238px;line-height: 22px;animation:textslide 1s;-webkit-animation:textslide 1s; /* Safari and Chrome */}
.span3  p.description a{color:#379634;}
.span3  p.description a:hover{text-decoration: underline;}
/* Content block 4 - Bottom Right */
.span3 .heading a.ribbon{background: url('../img/ribbon.png');width: 54px;height: 53px;float: left;position: absolute;margin-left: 216px;}
.span3 .heading a.ribbon:hover{opacity:.6;}
.retina .span3 .heading a.ribbon{background: url('../img/ribbonR.png');background-size: 54px 53px;}
.home .span3 .contact.split{color:#FFFFFF;background: url('../img/home-BR-contact-bg.png');width: 270px;height: 182px;float: left;margin:0px;color:#b1b1b1;line-height: 22px}
.retina .home .span3 .contact.split{background: url('../img/home-BR-contact-bgR.png'); background-size: 270px 182px;border-top: 1px solid #202020;}
.home .span3 .contact.split span{color: #FFFFFF;}
.home .span3 .contact.split .top{margin: 6px 0 0 16px;height: 67px;animation:textslide 1s;-webkit-animation:textslide 1s;}
.home .span3 .contact.split .top{margin: 6px 0 0 16px;height: 67px;animation:textslide 1s;-webkit-animation:textslide 1s;}
.home .span3 .contact.split.ps .the_top{margin:2px 0 0 0;height: 65px;}
.home .span3 .contact.split.ps .the_top a.folio{width: 270px;height: 61px;float: left;overflow: hidden;}
.home .span3 .contact.split.ps .the_top a.folio:hover{opacity: 0.6;}
.home .span3 .contact.split.ps .the_top a.folio img{animation:homefolioanimate 10s;-webkit-animation:homefolioanimate 10s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
.home .span3 .contact.split.ps .the_top .text{position: absolute;background: #FFFFFF;padding:0px 7px;height: 21px;color:#000;margin-top: 40px;border-left: 1px solid #c3c4c0;opacity: .8;}
.home .span3 .contact.split .bottom{margin: 0px 0 0 16px;height: 116px;animation:textslide 1s;-webkit-animation:textslide 1s; /* Safari and Chrome */overflow: hidden;}
.home .span3 .contact.split .bottom .left_part{width: 82px;height: 115px;overflow: hidden;border-right: 1px solid #202020;float:left;}
.home .span3 .contact.split .bottom .right_part{width: 168px;height: 115px;overflow: hidden;border-left: 1px solid #434343;float: left;}
.home .span3 .contact.split .bottom .right_part h4{font-size: 14px;color:#FFF;margin: 28px 0 0 16px;}
.home .span3 .contact.split .bottom .right_part p{font-size: 11px;margin: 7px 0 0 16px;line-height: 11px;}
.home .span3 .contact.split .bottom .right_part a{font-size: 11px;margin: 11px 0 0 16px;line-height: 11px;display: block;}

/* ************************* Resume ************************* */
.span3 .heading.small h3{line-height: 20px;}
.span3 .heading.small{background: url('../img/small-header-bg.png');height: 65px;}
.retina .span3 .heading.small{background: url('../img/small-header-bgR.png');background-size: 270px 65px;}
.skills{color:#FFFFFF;list-style: none;float:left;margin: 0px; margin-left: 16px;}
.skills li{width:236px;float: left;margin:7px 0 0 0; line-height: 15px;}
.skills .leftside{float:left;margin-left: 6px; animation:textslideinvert 1s; -webkit-animation:textslideinvert 1s; /* Safari and Chrome */}
.skills .rightside{float:right; line-height: 15px; animation:textshimmer 1s; -webkit-animation:textshimmer 1s; /* Safari and Chrome */}
.retina .skills .loading{background: url('../img/loading-bgR.png');background-size: 236px 18px;}
.resume .span3 .info{margin:0 0 0 16px;width: 238px;float: left;animation:textslide 1s;-webkit-animation:textslide 1s; /* Safari and Chrome */}
.resume .span3 .info span{font-weight: bold;}
.resume .span3 .info h4{font-size: 15px;font-weight: normal;margin: 12px 0 0 0;width: 100%;}
.resume .span3 .info p{line-height: 20px;margin-top: 2px;color:#d1d1d1;margin: 2px 0 20px 0;}

/* ************************* Portfolio ************************* */
.portfolio .span3 .slideshow{margin:13px 0 0 13px;float:left;border:3px solid #FFFFFF;width: 238px;height: 238px;overflow: hidden;position: absolute;}
.portfolio .span3 .slideshow img{height:238px;width: 238px;}
.portfolio .span3 .slideshow:hover{cursor: pointer;}
.portfolio .span3 .slideshow .container{background: url('../img/portfolio-arrow.png') no-repeat; margin: -78px 0 0 0; position: absolute;width: 238px;
	overflow: hidden;animation:portfolioslide 1s;-webkit-animation:portfolioslide 1s; /* Safari and Chrome */}
.retina .portfolio .span3 .slideshow .container{background: url('../img/portfolio-arrowR.png') no-repeat; background-size: 238px 13px;}
.portfolio .span3 .slideshow .container .title{height: 28px;background: #FFFFFF;font-size: 14px;color: #000000;line-height: 15px;
	margin: 13px 0 0 0;border-bottom: 1px solid #adadad;padding-left: 13px;padding-top: 13px;}
.portfolio .span3 .slideshow .container .subtitle{height: 23px;background: url('../img/portfolio-bg.png');padding-left: 13px;font-size: 11px;line-height: 23px;}
.portfolio .span3 .slideshow  .hover_bg{position: absolute;}
.portfolio .span3 .slideshow .hover_bg div.share,.portfolio .span3 .slideshow .hover_bg div.preview{position: absolute; width: 119px;height:238px;float:left;
	background: url('../img/hover_bg.png');margin-top: -238px;}
.portfolio .span3 .slideshow .hover_bg div.preview{margin-left: -119px;}
.portfolio .span3 .slideshow .hover_bg div.share{margin-left: 238px;}
.portfolio .span3 .slideshow .hover_bg div.preview a,.portfolio .span3 .slideshow .hover_bg div.share a{background: url('../img/hover_bg.png'); 
	border: 1px solid #393838;float:left;width: 45px;height: 45px;float: left;margin:96px 0 0 62px;}
.portfolio .span3 .slideshow .hover_bg div.share a{margin:96px 0 0 10px;}
.portfolio .span3 .slideshow .hover_bg div.preview a div{background: url('../img/hover_search.png');width: 18px;height:18px;margin: 14px 0 0 14px;}
.retina .portfolio .span3 .slideshow .hover_bg div.preview a div{background: url('../img/hover_searchR.png');background-size: 18px 18px;}
.portfolio .span3 .slideshow .hover_bg div.share a div{background: url('../img/hover_share.png');width: 18px;height:17px;margin: 14px 0 0 14px;}
.retina .portfolio .span3 .slideshow .hover_bg div.share a div{background: url('../img/hover_shareR.png');background-size: 18px 17px;}
.portfolio .span3 .slideshow .hover_bg div.preview a:hover,.portfolio .span3 .slideshow .hover_bg div.share a:hover{background: #FFFFFF; 
	border: 1px solid #323232;}
.portfolio .span3 .slideshow .hover_bg div.preview a:hover div{background: url('../img/hover_search_dark.png');}
.retina .portfolio .span3 .slideshow .hover_bg div.preview a:hover div{background: url('../img/hover_search_darkR.png'); background-size: 18px 18px;}
.portfolio .span3 .slideshow .hover_bg div.share a:hover div{background: url('../img/hover_share_dark.png');}
.retina .portfolio .span3 .slideshow .hover_bg div.share a:hover div{background: url('../img/hover_share_darkR.png');background-size: 18px 17px;}

.share_expand{width: 238px;height: 238px;float:left; background:  url('../img/hover_bg.png');margin-top: -476px;padding-right: 5px;}
.share_expand input{margin: 83px 0 0 27px;width: 121px;height: 26px;border:0px solid red;padding: 0px;float: left; color:#727272;font-size: 11px;
	padding:0 4px 0 4px;cursor: pointer;}
.share_expand p {margin: 5px; text-align: center; vertical-align: middle;}
.portfolio .span3 .slideshow .share_expand a.copy{border:0px solid red;float: left;margin: 0px;width: 40px;height: 24px;color:#FFFFFF;text-align: center;
	background: #8cb127;border-top: 1px solid #ccdc9e;border-bottom: 1px solid #5a7119;margin:83px 0 0 15px;font-size: 11px;}
.portfolio .span3 .slideshow .share_expand .buttons{width: 138px;height: 31px;float: left;margin: 15px 0 0 42px;}
.portfolio .span3 .slideshow .share_expand .buttons ul{list-style: none;}
.portfolio .span3 .slideshow .share_expand .buttons li{background: url('../img/share_a_bg.png');width: 31px;height: 31px;margin: 0px;border:0px solid red;margin-left: 15px;float:left;list-style: none;}
.retina .portfolio .span3 .slideshow .share_expand .buttons li{background: url('../img/share_a_bgR.png'); background-size: 31px 31px;}
body .portfolio .span3 .slideshow .share_expand .buttons a{margin:0px;border:0px;}
.portfolio .span3 .slideshow .share_expand .buttons a:hover{border:0px solid red; }

/* ************************* Contact ************************* */
.contact .span3 p.description.info{height: 149px;}
.contact p.description span{color:#cbcbcb;}
.contact .span3 .social.split{background: url('../img/social_bottom_bg.png');height:39px;width:270px;float:left;margin-left: 0px;text-align: center;border-top: 1px solid #202020;padding-top: 10px;}
.description input{width: 214px;height: 28px;border: 1px solid #2e2e2e;padding:0 11px 0 11px;font-size: 13px;}
.description input.error::-webkit-input-placeholder,.description textarea.error::-webkit-input-placeholder{color:#ff2121;}
.description input.error:-moz-placeholder,.description textarea.error:-moz-placeholder{color:#ff2121;}
.description input.error::-moz-placeholder,.description textarea.error::-moz-placeholder{color:#ff2121;}
.description input.error:-ms-input-placeholder,.description textarea.error:-ms-input-placeholder{color:#ff2121;}
.button,.contact .notification {margin-top: 32px;float: left;}
.contact .notification{width: 133px;margin-left: 16px;margin-top: 27px;animation:textslide 1s;-webkit-animation:textslide 1s; /* Safari and Chrome */}
.button{width: 115px;}
.button input{font-size: 16px;text-transform: uppercase;Color:#FFFFFF;background: #8cb127;border:0px solid red;border-top: 1px solid #ccdc9e;border-bottom: 1px solid #5a7119;height: 36px;width: 96px;float:right;margin-right: 16px;}
.button input:hover{background: #4f6513;border-top: 1px solid #5a7119;color:#bebebe;}
.contact .button input:active{background: #36460c;border-top: 1px solid #293509;border-bottom: 1px solid #293509;color:#bebebe;}
.contact .notification input{margin:-3px 6px 0 0;}
p.description textarea{width: 214px;height: 141px;resize:none;border: 1px solid #2e2e2e;padding:7px 11px 0 11px;font-size: 13px;line-height: 22px;margin-top: 8px;margin-bottom: 0px;}

/* ************************* Services ************************* */
.span3 .circle{float:left;margin:32px 0 0 29px;animation:servicesslide 1s;-webkit-animation:servicesslide 2s; /* Safari and Chrome */}
.span3 .circle.half{background: url('../img/services_half.png');width: 211px;height: 205px;}
.retina .span3 .circle.half{background: url('../img/services_halfR.png');background-size: 211px 205px;}
.span3 .circle.economic{background: url('../img/services_economic.png');width: 211px;height: 205px;}
.retina .span3 .circle.economic{background: url('../img/services_economicR.png');background-size: 211px 205px;}
.span3 .circle.full{background: url('../img/services_full.png');width: 211px;height: 205px;}
.retina .span3 .circle.full{background: url('../img/services_fullR.png');background-size: 211px 205px;}
.span3 .circle.popular{background: url('../img/services_popular.png');width: 211px;height: 205px;}
.retina .span3 .circle.popular{background: url('../img/services_popularR.png');background-size: 211px 205px;}

.span3 .circle.full .currency{margin: 59px 0 0 141px;}
.span3 .circle .currency{margin: 59px 0 0 128px;float: left;font-size: 22px; }
.span3 .circle .price{width:211px;height:30px;margin: 0px;float: left;font-size: 50px;text-align: center; }
.span3 .circle .period{width:211px;margin: 12px 0 0 0;float: left;font-size: 14px;color:#b1b1b1;text-align: center; }

/* ************************* Blog ************************* */
.blog .row .span6.content{background: url('../img/container_blog.png') no-repeat; height:573px;width:570px;margin-bottom: 27px;}
.retina .blog .row .span6.content{background: url('../img/container_blogR.png') no-repeat;background-size: 570px 573px;}
#loop{width: 538px;margin: 16px 0 0 16px;float: left;height: 538px;}

/* Scrollbar css start */
#loop .viewport { width: 522px; height: 539px;  overflow: hidden; position: relative; }
#loop .overview { width: 518px; height: auto;list-style: none; position: absolute; left: 0; top: 0;padding: 0px;margin:0px; animation:bloganimation 1s;-webkit-animation:bloganimation 1s; /* Safari and Chrome */}
#loop .thumb .end,#loop .thumb { background-color: #000000; }
#loop .scrollbar { position: relative; float: right; width: 4px;}
#loop .track { background-color: #eaeaea; height: 100%; width:4px; position: relative; padding: 0 0px; }
#loop .thumb { height: 20px; width: 4px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#loop .thumb .end { overflow: hidden; height: 5px; width: 4px; }
#loop .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
/* Scrollbar css end */

.blog h2{margin-top: 22px;margin-bottom:6px;line-height: 30px;float: left;width: 100%;}
.blog h2 a{color:#FFFFFF;}
#loop .viewport p { margin-top: 13px; margin-bottom: 9px;display: inline-block;}
#loop .viewport .the_comments .text p { margin-top: 0px;}
#loop .viewport .the_comments .form p.description{float: none;display: block;}
.blog #loop .subtitle{display: inline-block;width: 100%;height: auto;margin-top: 0px;}
.blog #loop .subtitle div{float:left;height: 22px;line-height: 16px;}
.blog #loop .subtitle div.date{margin-right: 37px;padding-left: 21px;background: url('../img/date.png') no-repeat;}
.retina .blog #loop .subtitle div.date{background: url('../img/dateR.png') no-repeat;background-size: 14px 15px;}
.blog #loop .subtitle div.user{margin-right: 37px;padding-left: 19px;background: url('../img/user.png') no-repeat;}
.retina .blog #loop .subtitle div.user{background: url('../img/userR.png') no-repeat;background-size: 8px 16px;}
.blog #loop .subtitle div.category{margin-right: 37px;padding-left: 22px;background: url('../img/category.png') no-repeat;}
.retina .blog #loop .subtitle div.category{background: url('../img/categoryR.png') no-repeat;background-size: 16px 16px;}

.blog .extra{margin-top: 11px;height: 57px;}
.blog .extra.post{height: 40px;}
.blog .extra .more{height: auto;background: #8cb127;color:#FFFFFF;padding: 6px 10px;float: left;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;margin-top: 6px;}
.blog .extra .more:hover{cursor: pointer;}
.blog .extra .comments{float: right;margin-top: 23px;}
.blog .extra .comments:hover{float: right;color: #3fec17;cursor: pointer;}
.blog .extra .comments span{color: ;font-size: 15px;}
/* Navigation */
.blog .navigation .links a{width: 24px;height: 24px;-webkit-border-radius: 24px;-moz-border-radius: 24px;border-radius: 24px;border:1px solid #8cb127;float: left;text-align: center;margin-right: 7px;}
.blog .navigation .links a.selected,.blog .navigation .links a:hover{color:#FFFFFF;background: #8cb127;}
.blog .navigation .links{float:left;}
.blog .navigation .status{float:right;margin-top: 4px;}

.blog .the_comments .block h3.lac{float: left;width: 100%;}
.blog .the_comments h3{margin: 14px 0 12px 0;}
.blog .the_comments .block ul{margin: 0px;padding: 0px;list-style: none;display: block;}
.blog .the_comments .block ul ul{margin-left: 32px;}
.blog .the_comments .block .avatar{font-size: 14px;margin-top: 10px;float: left;width: 100%;}
.blog .the_comments .block .avatar img{-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;margin-right: 8px;;}
.blog .the_comments .block .text .arrow{margin-top: 8px;background: url('../img/comment_arrow.png') no-repeat;float: left;width: 20px; height:15px;float: left;margin-left: 18px;}
.blog .the_comments .block .text p{background: #FFFFFF;color: #000; padding: 14px 14px;float: left;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.blog .the_comments .block .text p a.reply{float: right;margin-top: 22px;font-size: 14px;}
.blog p.description textarea{width: 95%}

.blog .the_comments .block .form{width: 100%;float: left;display: inline-block;}                   
.blog .the_comments .block .form .button{width: 100%;float: left;display: inline-block;text-align: left;}                   
.blog .the_comments .block .form .button input{float: left;}                   


.footer .row{margin-left: -30px;}

/* retina display css start*/
.retina .logo a .image{background:url('../img/cv.png') no-repeat;background-size: 32px 32px;}
.retina .row .span3{background: url('../img/containerR.png') no-repeat; background-size: 270px 273px;display: block;}

/* retina dysplay css end*/

/* Bottom Retina fixes start */
.logo.span3,.retina .logo.span3{background:none;height:73px;border-bottom:0px solid #FFFFFF;margin-bottom: 0px;}
.footer .span3,.retina .footer .span3{background: none;height:auto;margin-bottom: 0px;}
.retina .menu.span3{width: 276px; height: 90px;background:none;margin-bottom: 15px;}
/* Bottom Retina fixes end */
body .container .span12 .row .no-bg{background: none;}

/* ************************* Media Queries Start ************************* */

/* 1200px container width Start */
@media (max-width: 1200px){

	.row .span3{margin-left: 30px}
	.row .offset3{margin-left: 210px;}
	
	/* Mobile menu style start*/
	.menu{width: 400px;}
	.menu.span3{width: 276px;}
	/* Mobile menu style end*/
}
/* 1200px container width End */

/* 1024px container width Start (ipad resolution) */
@media (max-width: 1024px){
	.footer .row{margin-left: -30px;}
	img#bgmimick{max-width:1024px !important;width: 1024px;}
	.menu.span3{width: 276px;}
	/* Mobile menu style start*/
	.menu ul a:hover, .menu ul li.selected a{border:0px solid red;}
	.menu{width: 100px;height:auto;}	
/* Mobile menu style end*/
}
/* 1024px container width End (ipad resolution) */

/* 1024px container width Start (1024 to 979 grid and styles) */
@media (max-width: 1024px) and (min-width: 979px){
	.row .span3{margin-left: 30px;}
	.row .offset3{margin-left: 210px;}
	.footer .row{margin-left: -30px;}
	.footer .row .span3{margin-left: 30px;}
}

/* 1024px container width Start (979 768 grid and styles - ipad portrait and rest) */
@media (max-width: 979px) and (min-width: 768px){
	.row .offset3{margin-left: 102px;}
	.footer .row{margin-left: -30px;}
}

/* 1024px container width Start (Mobile styles) */
@media (max-width: 767px){
	.footer .row{margin-left: -30px;}
	.footer .span3.text-left,.footer .span3.text-right{width:100%;padding-left: 0px;text-align: center;padding-left: 30px;}
	img#bgmimick{max-width:767px !important;width: 767px;}
	.row .span3 ,.menu.span3{margin-left: 0px;}
	.container{width: 270px;}
	.footer.span6{margin-left: 0px;width: 270px;}
	.retina .logo.span3 {background: none;}

	.blog .row .span6.content{background: url('../img/container_blog_mobile.png') no-repeat; height:573px;width:270px;margin-bottom: 27px;}
	.retina .blog .row .span6.content{background: url('../img/container_blog_mobileR.png');background-size: 270px 573px;}	
	.blog .row .span6.offset3{margin-left: 0px;}

	#loop{width: 238px;height:537px;}
	#loop .viewport { width: 218px; height: 539px;  position: relative; overflow: hidden; }
	#loop .overview { width: 218px; height: auto;list-style: none; position: absolute; left: 0; top: 0;}
	#loop .scrollbar { height: 349px;}

	.blog .row .span6.content{padding-top: 0.1px;}
	.blog .navigation .status{float:left;width: 100%;margin-top: 10px;}

	.blog p.description input{width: 90%}
	.blog p.description textarea{width: 90%}
	.logo.span3,.retina .logo.span3{border-bottom: 2px solid #FFFFFF;}
}
/* ***************** Media Queries End ***************** */

/* CSS3 Animation */

@keyframes textslideinvert
{
	0% {margin-left:20px; opacity: 0;}
	100%   {margin-left:8px; opacity: 1;}	
}

@keyframes textslide
{
	0%   {margin-left:0px; opacity: 0;}
	100% {margin-left:16px; opacity: 1;}
}

@-webkit-keyframes textslideinvert /* Safari and Chrome */
{
	0% {margin-left:20px; opacity: 0;}
	100%   {margin-left:8px; opacity: 1;}
}

@keyframes textshimmer
{
	0%   {margin-left:0px; opacity: 0;}
	100% {margin-left:0px; opacity: 1;}
}

@-webkit-keyframes textshimmer /* Safari and Chrome */
{
	0% {margin-left:0px; opacity: 0;}
	100%   {margin-left:0px; opacity: 1;}
}

@-webkit-keyframes textslide /* Safari and Chrome */
{
	0%   {margin-left:0px; opacity: 0;}
	100% {margin-left:16px; opacity: 1;}
}

@keyframes textslideright
{
	0%   {margin-left:0px; opacity: 0;}
	100% {margin-left:16px; opacity: 1;}
}

@-webkit-keyframes textslideright /* Safari and Chrome */
{
	0% {margin-left:0px; opacity: 0;}
	100%   {margin-left:16px; opacity: 1;}
}


/* Home avatar box content animation */

@keyframes avatarslide
{
	0%   {margin-top:0px; opacity: 0;}
	100% {margin-top:32px; opacity: 1;}
}

@-webkit-keyframes avatarslide /* Safari and Chrome */
{
	0%   {margin-top:0px; opacity: 0;}
	100% {margin-top:32px; opacity: 1;}
}
/* portfolio slide */
@keyframes portfolioslide
{
	0%   {margin-top: 0px;}
	100% {margin-top: -78px;}
}

@-webkit-keyframes portfolioslide /* Safari and Chrome */
{
	0%   {margin-top: 0px;}
	100% {margin-top: -78px;}
}
/* services circles opacity animation */
@keyframes servicesslide
{
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes servicesslide /* Safari and Chrome */
{
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
/* blog content animation */
@keyframes bloganimation
{
	0%   {opacity: 0;margin-top: -30px;}
	100% {opacity: 1;margin-top: 0px;}
}

@-webkit-keyframes bloganimation /* Safari and Chrome */
{
	0%   {opacity: 0;margin-top: -30px;}
	100% {opacity: 1;margin-top: 0px;}
}
/* home portfolio preview animation */
@keyframes homefolioanimate
{
	0%   {margin-top: 0px;}
	50%   {margin-top: -181px;}
	100% {margin-top: 0px;}
}

@-webkit-keyframes homefolioanimate /* Safari and Chrome */
{
	0%   {margin-top: 0px;}
	50%   {margin-top: -181px;}
	100% {margin-top: 0px;}
}